body {
	background-color: rgb(255, 255, 204);
	display: flex;
	align-items: center;
	justify-content: center;
}

.main {
	background-color: rgb(254, 254, 254);
	width: 70vw;
	height: 65vh;
	border-radius: 30px;
	display: grid;
	grid-template-columns: 5fr 3fr;
	grid-template-rows: 1fr 9fr;
}

.header {
	grid-column: span 2;
	border-bottom: 2px solid lightgray;
}

.todolist {
	border-right: 2px solid lightgray;
}

.inputArea {
	display: flex;
	justify-content: center;
}

input {
	width: 80%;
	height: 40px;
	margin: 10px;
}
