body {
	margin: 0;
	padding: 0;
}

.ChampContainer {
	display: grid;
	grid-template-columns: repeat(auto-fill, 260px);
}

.card {
	border: 1px, solid rgba(0, 0, 0, 0.2);
	display: inline-block;
	padding: 20px;
	margin: 10px;
	background-color: whitesmoke;
	border-radius: 10px;
	max-width: 250px;
	text-align: center;
	box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.1);
	height: 280px;
}


.card .img {
	border-radius: 50%;
	margin-bottom: 10px;
	width: 140px;
	height: 140px;
}

.card .name {
	margin: 0;
	padding-bottom: 20px;
	color: rgba(0, 0, 0, 0.8);
	font-family: arial, sans-serif;
}

.card .desc {
	padding-bottom: 20px;
	color: rgba(0, 0, 0, 0.7);
	font-family: arial, sans-serif;
}
